<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maruya OrderTaker!</title>

    {{ stylesheet_tag('app_css') | safe }}
</head>
<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

      <test-target></test-target>

      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Img</th>
              <th>Item</th>
              <th>Price</th>
              <th>Order</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>image</td>
              <td>Banana Turon</td>
              <td>PHP 10.00 ea</td>
              <td><input type="text"/></td>
              <td>
                <i class="fa fa-plus-circle fa-3x"></i>
                <i class="fa fa-minus-circle fa-3x"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <footer class="footer">
        <p>&copy; 2016 Idiot with a Compiler!, Inc.</p>
      </footer>

      {{ javascript_tag('app_js') | safe }}
</body>
</html>
